:root {
	--board-background: none;
	/* --stroke: #0da192;
	--stroke-width: 7px; */
    --stroke: #0da192;
    --stroke-width: 8px;
}

.board{
	width: 600px;
    height: 600px;
	background-color: var(--board-background);
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.input{
	height: 33.33%;
	width: 33.33%;
	transform-origin: 0 0;
	/* transition-delay: 5s; */
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	font-family:inherit;
	font-weight: 700;
	font-size: 11rem;
	will-change: transform;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    /* -webkit-animation: appear .2s cubic-bezier(0.5,1.8,0.1,1.1); */
    -moz-animation: appear .2s cubic-bezier(0.5,1.8,0.1,1.1);
    animation: appear .2s cubic-bezier(0.5,1.8,0.1,1.1);
}

.input-1 {
    animation: appear .2s cubic-bezier(0.5,1.8,0.1,1.1);
	border-right: var(--stroke-width)
	solid var(--stroke);
	border-bottom: var(--stroke-width)
	solid var(--stroke);
    stroke: rgb(84, 84, 84);
    stroke-dasharray: 135.764;
    stroke-dashoffset: 0;
}

.input-2{
	border-right: var(--stroke-width)
	solid var(--stroke);
	border-bottom: var(--stroke-width)
	solid var(--stroke);
}

.input-3{
	border-bottom: var(--stroke-width)
	solid var(--stroke);
}

.input-4{
	border-right: var(--stroke-width)
	solid var(--stroke);
	border-bottom: var(--stroke-width)
	solid var(--stroke);
}

.input-5{
	border-right: var(--stroke-width)
	solid var(--stroke);
	border-bottom: var(--stroke-width)
	solid var(--stroke);
}

.input-6{
	border-bottom: var(--stroke-width)
	solid var(--stroke);
}

.input-7{
	border-right: var(--stroke-width)
	solid var(--stroke);
}

.input-8{
	border-right: var(--stroke-width)
	solid var(--stroke);
}

@media screen and (max-width: 960px), (max-height: 800px){
.board{
    width: 450px;
    height: 450px;
}
.info{
	width: 450px !important;
}
.input{
	font-size: 7rem;
}
}

@media screen and (max-width: 540px), (max-height: 630px){
.board {
    width: 300px;
    height: 300px;
}
.info{
	width: 300px !important;
}
.input{
	font-size: 4rem;
}
}

