.winner-result{
    background-color: #14bdac;
    /* line-height: 1.5; */
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.winner-text-main{
    opacity: 1; 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(84, 84, 84);
    text-transform: uppercase;
    font-family: arial,sans-serif;
}
.result-image{
    width: 128px ;
    height: 128px;
}
.result-image-o{
    width: 90px ;
    height: 128px;
}

.btn-restart{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary {
    background-color: #57cbb4;
    border-color: #18bc9c;
    color: #fff !important;
    font-weight: 700;
}